# Node modules
node_modules/

# dotenv files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build / coverage
dist/
coverage/

# Docker
*.local
docker-compose.override.yml

# Misc
*.tgz
.cache/
